data/raw/*
data/rlds/*
runs/*
cache/*
!data/raw/.gitkeep
!data/rlds/.gitkeep
!runs/checkpoints/.gitkeep
!cache/.gitkeep
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
*.egg-info/
build/
install/
log/
*.npz
*.npy
*.tfrecord*
*.ckpt
*.jpg
*.jpeg
*.png
*.db3
*.mcap
data/raw/**/rosbag2/metadata.yaml
